* {
  --primary: #111827;
  --secondary: #0832bd;
  --accent: #bdccff;
  --neutral: #4b5563;
  --base-100: #f4eebf;
  --info: #f3f4f6;
  --success: #4ade80;
  --warning: #e11d48;
  --error: #be123c;
}
